In [8]:
%pip install requests

Collecting requests
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Using cached charset_normalizer-3.4.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (35 kB)
Collecting idna<4,>=2.5 (from requests)
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Using cached urllib3-2.4.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests)
  Using cached certifi-2025.4.26-py3-none-any.whl.metadata (2.5 kB)
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Using cached certifi-2025.4.26-py3-none-any.whl (159 kB)
Using cached charset_normalizer-3.4.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (148 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached urllib3-2.4.0-py3-none-any.whl (128 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests
Successfully installed certifi-2025.4.26 charset-normalizer-3.4.2 idna-3.10 requests-2.32.3 urllib3-2.4.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import requests
from pprint import pp
import pandas as pd
from pandas import json_normalize
import json



df = pd.DataFrame()

for i in range(7):

    num = i * 18
    header = {"User-Agent": "Mozilla/5.0 (X11; Linux x86_64; rv:138.0) Gecko/20100101 Firefox/138.0"}
    url  = """https://www.compass.com/api/v3/agent_intelligence/agent/6089b3c45e8c6b00010d87e2/closed_deals?json={{"limit":18,"offset":{num},"orderBy":1,"closedDealsFilters":{{"closedDealType":0,"getHiddenDeals":false}}}}""".format(num=num)
    res = requests.get(url, headers=header)

    data = [i for i in json.loads(res.text)["listings"]]
    df1 = pd.json_normalize(data)
    df = pd.concat([df, df1], ignore_index=True)

df
df.to_csv("Export2.csv")

,aiHexID,matchCategory,listing.listingIdSHA,listing.compassPropertyId,listing.requestedListingIdSHA,listing.feedListingId,listing.listingType,listing.sourceFilters,listing.location.prettyAddress,listing.location.streetNumber,...,listing.location.unitType,listing.location.subdivisionNames,listing.detailedInfo.propertyType.feedTypes.la_crmls_rets,listing.detailedInfo.propertyType.feedTypes.sf_mlslistings,listing.detailedInfo.propertyType.feedDisplayNames.CRMLS,listing.detailedInfo.propertyType.feedDisplayNames.MLSListings,listing.buildingInfo.id,listing.detailedInfo.access,listing.detailedInfo.buildingServiceLevel,listing.detailedInfo.petPolicy
0,,2,1621119959349615489,60861861405998608,1621119959349615489,1621119959349615489,2,[3],1825 Castro Street,1825,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,1,845156872284109161,53594937040946576,845156872284109161,845156872284109161,2,[3],246 28th Avenue,246,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,1,844989186803981625,60856329152565904,844989186803981625,844989186803981625,2,[3],1306 10th Avenue,1306,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,,2,968106207917920689,60940529188801168,968106207917920689,968106207917920689,2,[3],679 Moultrie Street,679,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,,2,1478664281195849489,63889227018980496,1478664281195849489,1478664281195849489,2,"[3, 2]",1719 43rd Avenue,1719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,,1,688648902010258049,60922697449277200,688648902010258049,688648902010258049,2,[3],2215 19th Avenue,2215,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,,1,845028501792864569,60869611219471120,845028501792864569,845028501792864569,2,[3],"99 High Street, Unit 3",99,...,Unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,,2,1222886201543078769,60901925879482768,1222886201543078769,1222886201543078769,2,"[3, 2]","200 Brannan Street, Unit 421",200,...,Unit,NaN,NaN,NaN,NaN,NaN,776495709001435045,Elevator,Concierge,3.0
116,,1,845211051702769497,60862784965908624,845211051702769497,845211051702769497,2,[3],468 42nd Avenue,468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,,1,845233420613442705,53584333544680720,845233420613442705,845233420613442705,2,[3],1530 12th Avenue,1530,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
from collections import Counter

all_tags = sum(df['listing.listingHashtags.hashtags'], [])
tag_freq = Counter(all_tags)

pp(dict(tag_freq.most_common(10)))

{'formal dining area': 92,
 'updated features': 92,
 'great location': 87,
 'laundry': 86,
 'recently remodeled': 85,
 'private outdoor space': 83,
 'with views': 76,
 'backyard': 75,
 'dishwasher': 75,
 'gourmet kitchen': 73}